body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
button {
  font-size: 1rem;
  margin: 0 5px;
  padding: 10px 15px;
}
input[type="number"] {
  width: 60px;
}
label {
  font-size: 1rem;
}
